div.error-box {
    width: 300px;
    border: #eeeeee 1px solid;
    background-color: #f5f5f5;
    margin: 0 auto;
    padding: 20px 0;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    -webkit-box-shadow: 1px 1px 1px 1px #EDEDED;
    box-shadow: 1px 1px 1px 1px #EDEDED;
}
div.error-box div.in-icon i {
    font-size: 84px;
    color: #666666;
}
div.error-box div.in-code {
    font-size: 24px;
    font-weight: 600;
}

div.sq-login-box {
    width: 350px;
    margin: 0 auto;
    padding-top: calc(50vh - 153px);
}

div.sq-login-box div.img-box img {
    width: 100%;
}

.addressType{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 550px;
    font-size: 20px;
}

.address{
    padding-left: 100px;
    padding-bottom: 30px;
}


.searchBox{
    padding-left: 100px;
    padding-top: 20px;
}

.inbox{
    padding-bottom: 15px;
}

.nearFriend{
    font-size: 15px;
    padding-bottom: 20px;
    padding-left: 100px;
}

.map{
    padding-left: 400px;
    padding-top: 50px;
}
