<template>
    <Nuxt />
</template>
<script>
import AdminHeader from "@/components/layout/admin-header"
import AdminSidebarAvatar from "@/components/layout/admin-sidebar-avatar"
import AdminSidebarMenu from "@/components/layout/admin-sidebar-menu"

export default {
    components: {
        AdminHeader,
        AdminSidebarAvatar,
        AdminSidebarMenu
    }
}
</script>
