<template>
    <div class = searchAddress>
        <el-row>
            <div class = "addressType">
                <h1>* 지번주소 또는 도로명주소를 입력해주세요.</h1>
            </div>
            <div class = "address">
            <el-col :span="18">
                <el-input placeholder="내 주소 검색" v-model="searchAddress"></el-input>
            </el-col>
            <el-col :span="6">
                <el-button type="primary" @click="getAddress()">검색</el-button> <!-- 검색버튼 누르면 getAddress() 함수 실행시키기 -->
            </el-col>
            </div>
        </el-row>

        <div class="searchBox">
        <div v-if="isAddressResultBoxView"> <!-- isAddressResultBoxView 값이 true면.. true면 보여주기 false면 감추기 -->
            <div class="inbox" v-for="(item, index) in searchAddressResultList">
                {{ item.address_type === 'ROAD_ADDR' ? '- 도로명 : ' : '- 지번 : ' }} {{ item.address_name }}
                <el-button type="primary" @click="choiceResultPosition(item.x, item.y)">선택</el-button>
            </div>
        </div>
        </div>

        <div>
            <li class = nearFriend v-for="(item, index) in nearFriendList">
                나와의 거리 : {{ Math.round(item.distanceM) }}m, 성별 : {{ item.genderName }} , 취미 : {{ item.hobby }} , 닉네임 : {{ item.nickname }}
            </li>
            <div class="map">
                <img src="/images/map.png" alt="지도" style="weight:450px; height:450px;">
            </div>
        </div>

    </div>
</template>
<script>
export default {
    data() {
        return {
            searchAddress: '', // 주소 검색 키워드 저장 할 변수
            searchAddressResultList: [], // 주소 검색 결과 리스트 저장 할 변수
            isAddressResultBoxView: false, // 주소 검색 결과 박스 보일지 말지 결정하는 변수
            choicePositionX: null, // 주소 선택 시 좌표 x 값 저장 할 변수
            choicePositionY: null, // 주소 선택 시 좌표 y 값 저장 할 변수
            nearFriendList: [] // 근처 친구 결과 담을 리스트 저장 할 변수
        }
    },
    methods: {
        getAddress() {
            if (this.searchAddress.length >= 1) { // 만약 searchAddress 변수에 글자가 한글자라도 있으면.
                let payload = { // 페이로드 <- 페이로드라는건 그냥 이름일 뿐. request에 쓰이는 값을 그냥 페이로드라고 통상적으로 부름.
                    params: { // params 라는 임의의 공간을 만들고
                        searchAddress: this.searchAddress // searchAddress라는 칸을 또 만들어 준 후 위에 데이터에서 값을 가져와 넣어준다.
                    }
                }

                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true) // api call 해야하니 그동안 사람이 이상한짓 못하게 화면 막아주고
                this.$store.dispatch(this.$apiKakaoConstants.DO_SEARCH_ADDRESS, payload) // store api-kakao 모듈에 정의된 액션을 실행시킨다. (api 호출하는게 액션)
                    .then((res) => { // 만약에 api 호출에 성공했다면
                        // res.data 까지가 응답 결과이고 그 응답결과에서 data.documents 부분을 빼와서 searchAddressResultList에 넣어준다. -> swagger response 참조
                        this.searchAddressResultList = res.data.data.documents
                        this.isAddressResultBoxView = true // 주소 검색 결과 박스 보여주기
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false) // 다 끝났으니 화면 막았던거 다시 풀어주기
                    })
                    .catch((err) => { // 만약에 api 호출에 실패했다면
                        this.$toast.error(err.response.data.msg) // 실패 메세지 토스트팝업으로 띄워주고
                        this.isAddressResultBoxView = false // 주소 검색 결과 박스 숨기기
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false) // 다 끝났으니 화면 막았던거 다시 풀어주기
                    })
            }
        },
        choiceResultPosition(posX, posY) {
            this.choicePositionX = posX
            this.choicePositionY = posY
            this.isAddressResultBoxView = false // 주소 검색 결과 박스 숨기기
            this.getNearFriends()
        },
        getNearFriends() {
            let payload = {
                posX: Number(this.choicePositionX),
                posY: Number(this.choicePositionY),
                distance: 3 // 반경 3km 이내의 친구 불러오기.. 강제로 3km 설정함.
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true) // api call 해야하니 그동안 사람이 이상한짓 못하게 화면 막아주고
            this.$store.dispatch(this.$apiMemberConstants.DO_NEAR_FRIENDS, payload)
                .then(res => { // 만약에 api 호출에 성공했다면
                    this.nearFriendList = res.data.list
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false) // 다 끝났으니 화면 막았던거 다시 풀어주기
                })
                .catch(err => { // 만약에 api 호출에 실패했다면
                    this.$toast.error(err.response.data.msg) // 실패 메세지 토스트팝업으로 띄워주고
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false) // 다 끝났으니 화면 막았던거 다시 풀어주기
                })
        }
    },
}
</script>
